* {
    main-bg:            {{colors.background.default.hex}};
    main-fg:            {{colors.primary.default.hex}};
    main-br:            {{colors.secondary.default.hex}};
    main-ex:            {{colors.secondary.default.hex}};
    select-bg:          {{colors.on_primary.default.hex}};
    select-fg:          {{colors.primary_fixed_dim.default.hex}};
    separatorcolor:     transparent;
    border-color:       transparent;
}
