@define-color foreground #c0c1ff;
@define-color background #131318;
@define-color backgroundGroup #2a292f;

@define-color workspaceEmptyBg #c8c5d0;
@define-color workspaceDefaultBg #c6c4dd;
@define-color workspaceDefaultFg #1f1f25;
@define-color workspaceActiveBg #c0c1ff;
@define-color workspaceActiveFg #292a60;
@define-color workspaceHoverBg #e2e0f9;
@define-color borderColor #c6c4dd;
