* {
    main-bg:            #131318;
    main-fg:            #c0c1ff;
    main-br:            #c6c4dd;
    main-ex:            #c6c4dd;
    select-bg:          #c0c1ff;
    select-fg:          #292a60;
    separatorcolor:     transparent;
    border-color:       transparent;
}
