* {
    main-bg:            #0e1415;
    main-fg:            #80d4db;
    main-br:            #b1cbce;
    main-ex:            #b1cbce;
    select-bg:          #00363a;
    select-fg:          #80d4db;
    separatorcolor:     transparent;
    border-color:       transparent;
}
